<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.compri.testcases.FilterLH_TC"/>
      <class name="com.compri.testcases.GiftCard_TC"/>
      <class name="com.compri.testcases.WishList_TC"/>
      <class name="com.compri.testcases.ProductSearchVerify_TC"/>
      <class name="com.compri.testcases.PostalCode_TC"/>
      <class name="com.compri.testcases.SignIn_TC"/>
    </classes>
  </test> 
</suite> 
